.hero {
  &__title {
    font-size: 150px;
    line-height: 136px;
    margin-bottom: 3rem;

    @media (max-width: 1520px) {
      font-size: 120px;
      line-height: 130px;
    }

    @media (max-width: 1024px) {
      font-size: 75px;
      line-height: 70px;
    }

    @media (max-width: 640px) {
      font-size: 45px;
      line-height: 40px;
    }
  }

  &__title-smaller {
    font-size: 60px;
    margin-bottom: 1rem;
    margin-top: 3rem;

    @media (max-width: 1024px) {
      font-size: 35px;
    }

    @media (max-width: 640px) {
      font-size: 35px;
    }
  }

  &__subtitle {
    max-width: 34ch;
    font-weight: 400;
    font-size: 30px;
  }

  &__icons {
    @media (max-width: 1160px) {
      margin: auto;
    }
  }
}

.form_wrap {
  @media (max-width: 1160px) {
    position: static;
  }
}
